<!DOCTYPE html>
<html lang="en"
  layout:decorate="~{layouts/common_layout}">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <div layout:fragment="contents" class="w-full">

        <div class="text-3xl font-bold flex items-center gap-4">
            <div>[[ ${task.title} ]]</div>
            <div class="badge font-bold" th:classappend="${task.getPriorityLevel()}">
                [[ ${task.priority} ]]
            </div>
            <div class="flex-grow"></div>
            <div class="flex gap-4">
                <span class="opacity-50 cursor-pointer">
                    <a th:href="@{~/tasks/{code}/edit(code=${task.code})}">
                        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-5">
                          <path stroke-linecap="round" stroke-linejoin="round" d="m16.862 4.487 1.687-1.688a1.875 1.875 0 1 1 2.652 2.652L10.582 16.07a4.5 4.5 0 0 1-1.897 1.13L6 18l.8-2.685a4.5 4.5 0 0 1 1.13-1.897l8.932-8.931Zm0 0L19.5 7.125M18 14v4.75A2.25 2.25 0 0 1 15.75 21H5.25A2.25 2.25 0 0 1 3 18.75V8.25A2.25 2.25 0 0 1 5.25 6H10" />
                        </svg>
                    </a>
                </span>
                <span class="opacity-50 cursor-pointer" th:onclick="askRemove([[${task.code}]])">
                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-5">
                      <path stroke-linecap="round" stroke-linejoin="round" d="M12 9.75 14.25 12m0 0 2.25 2.25M14.25 12l2.25-2.25M14.25 12 12 14.25m-2.58 4.92-6.374-6.375a1.125 1.125 0 0 1 0-1.59L9.42 4.83c.21-.211.497-.33.795-.33H19.5a2.25 2.25 0 0 1 2.25 2.25v10.5a2.25 2.25 0 0 1-2.25 2.25h-9.284c-.298 0-.585-.119-.795-.33Z" />
                    </svg>
                </span>
            </div>
        </div>

        <div class="divider mt-4 mb-2"></div>

        <div class="flex opacity-50 flex-col items-end">
            <div class="flex gap-6 w-full">
                <div class="flex items-center justify-center">
                    <div class="form-control">
                        <label class="cursor-pointer label" th:onclick="askCheck([[${task.isCompleteStatus()}]], [[${task.code}]])" >
                            <span class="label-text mr-4">Finished</span>
                            <input type="checkbox" th:checked="${task.isCompleteStatus()}" th:value="${task.isCompleteStatus()}" class="checkbox checkbox-accent checkbox-xs" />
                        </label>
                    </div>
                </div>
                <div class="flex-grow"></div>
                <span>
                    Started : [[ ${task.startDate} ]]
                </span>
                <span>
                    Due Date : [[ ${task.dueDate} ]]
                </span>
                <span>
                    Created : [[ ${task.createdAt} ]]
                </span>
                <span>
                    Updated : [[ ${task.updatedAt} ]]
                </span>
            </div>
        </div>

        <div class="my-6" th:if="${task.description.isBlank()}">
            No Description for this task!
        </div>
        <div class="my-6" th:unless="${task.description.isBlank()}">
            [[ ${task.description} ]]
        </div>

    </div>
</body>
</html>